/* Defina uma cor de fundo azul claro para o corpo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #1E90FF, #ADD8E6, #FFFFFF); 
    background-image: url('../image/bkg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Garante que o body ocupe pelo menos a altura da janela */
    display: flex;
    justify-content: center;
    align-items: center;
}
 
/*Componente de loading*/
.loading {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 500%;
    height: 500%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
/*css da animação do loading*/
.loading img {
    width: 100px; 
    height: auto; 
}

button {
    cursor: pointer;
    background-color: #6e6e6e;
    color: white;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

.cadastro-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cadastro-container h2 {
    margin-bottom: 20px;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.input-group label {
    font-weight: bold;
    width: 150px; /* Largura fixa para alinhar todos os rótulos */
    text-align: left; /* Alinhamento à esquerda */
    margin-right: 10px;
}

.input-group input {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.cadastro-btn, .limpar-btn {
    background-color: #08b41f;
    color: rgb(253, 253, 253);
    border: none;
    padding: 10px 20px; /* Adiciona um preenchimento interno de 10px nas partes superior e inferior e 20px nas laterais dos botões. */
    text-align: center; 
    text-decoration: none; /* Remove qualquer sublinhado do texto dos botões. */
    display: inline-block; /* Exibe os botões como elementos inline-block, permitindo ajustar margens e preenchimento. */
    font-size: 16px; 
    border-radius: 4px; 
    cursor: pointer;
    margin-right: 10px; /* Adiciona uma margem direita de 10px, separando os botões horizontalmente. */
}

.button-group {
    display: flex;
    justify-content: space-between; /* Distribui os elementos filhos (botões) uniformemente, com espaço igual entre eles. */
    width: 100%; /* Define a largura do contêiner como 100% do seu elemento pai, ocupando a largura completa disponível. */
    margin-top: 20px;
}

.error {
    color: rgb(254, 0, 0);   
    display: none;
    font-size: 13px;
}

/* Estilo adicional para o botão Recuperar senha */
.recover-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #08b41f; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px; /* Borda arredondada */
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Espaço entre os botões e o botão "Recuperar senha" */
}

.button-container > * {
    margin: 0 10px;
}

.recover-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adaptação para colocar todos os inputs dentro do login-container */
.login-container {
    margin-bottom: 20px; /* Espaço abaixo do container de login */
}

/* Botão voltar da pagina de cadastro */
.icon img {
    width: 40px; 
    height: 40px; 
}

#backButton {
    width: 40px;
    height: 40px;
    cursor: pointer; /* Adiciona o cursor de ponteiro para indicar que é clicável */
    display: flex;
}

/* Cor de fundo e leve aumento no tamanho dos botões */
.login-btn:hover, .registra-btn:hover, .recover-btn:hover, .cadastro-btn:hover, .limpar-btn:hover {
    background-color: #067b14; /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho */
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

/* Aumento de tamanho ao passar o mouse leve transição no botão de volta  */
img.backButton:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% ao passar o mouse */
    transition: transform 0.3s; /* Adiciona uma transição suave */
}

/*.header-container {
    display: flex;  
}

.header-container h2 {
    margin: 0; 
    padding-left: 10px; 
} */
