/* Estilos adicionais para a página home */

.container {
    position: relative; /* Para que os ícones absolutos se posicionem relativamente a este container */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.icon {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    text-decoration: none;
    color: inherit;
}

.icon:hover {
    background-color: rgba(255, 255, 255, 1);
}

.icon img {
    width: 80px;
    height: 80px;
}

.label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Estilos específicos para o ícone de logout */
.logout-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px; /* Ajuste automático de largura conforme o conteúdo */
    padding: 10px; /* Diminuir o padding para ajustar ao tamanho do ícone */
}

.logout-icon img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 50%; /* Opcional: se desejar bordas arredondadas */
}
