.input-group {
    margin-bottom: 15px;
}
#camera-container {
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
    display: none;
    position: relative;
}
#video {
    width: 95%;
    height: auto;
}
#photo {
    display: none;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}
#loading-message {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}
.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.photo-grid img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#camera-section {
    position: fixed;
    top: 10%;
    right: 10%;
    width: 300px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Inicialmente escondido */
}
#camera-container {
    display: none;
}